.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;

    .navigation-container {
        .nav-link {
            margin: 0 5px;
        }

        .cart-logo{
            margin-left: 30px;
        }
    }

}