body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: #000B58;
      font-weight: bold;
    }
  }